## Rails
ROLLBAR_ACCESS_TOKEN=
RAILS_MAX_THREADS=5
RACK_ENV=
RAILS_ENV=
# Use both options for full compatibility
SECRET_KEY_BASE=
RAILS_MASTER_KEY=

## Redis
REDIS_URL=

## Mail
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ADDRESS=
SMTP_DOMAIN=
SMTP_PORT=
MAILER_SENDER=

## Geocoder
GEOCODER_LOOKUP_APP_ID=
GEOCODER_LOOKUP_APP_CODE=

## Language
LC_ALL=C.UTF-8
LANG=en_US.UTF-8
LANGUAGE=en_US.UTF-8
