<section class="uned-wrapper">
  <section class="uned-wrapper-content">
    <article class="uned-wrapper-content-header">
      <img class="uned-wrapper-content-header-img" src="<%= asset_path 'uned-header-image.png' %>">
      <img class="uned-wrapper-content-header-logoimg" src="<%= asset_path 'logo-uned.png' %>">
    </article>
    <article class="uned-wrapper-content-medium">
      <h3 class="uned-wrapper-content-title">Consulta </h3>
      <h5 class="uned-wrapper-content-subtitle">Hacia un marco ético para el uso responsable de datos masivos</h5>
      <p class="uned-wrapper-content-text">La UNED, preocupada por las consecuencias éticas y sociales que puede tener el uso de tecnologías basadas en datos masivos en el contexto de los procesos de enseñanza/aprendizaje, propone un marco ético y lo somete a deliberación a toda la comunidad universitaria.</p>
      <div class="uned-wrapper-content-table">
        <div class="uned-wrapper-content-table-row">
          <div class="uned-wrapper-content-table-row-left">
            <span class="uned-wrapper-content-table-row-left-text">¿Para qué hacemos esta consulta?</span>
          </div>
          <div class="uned-wrapper-content-table-row-right">
            <span class="uned-wrapper-content-table-row-left-text">Esta consulta tiene lugar porque <strong>la UNED quiere avanzar hacia modelos de aprendizaje personalizado</strong>, en los que cada persona sea reconocida según sus características y reciba sugerencias y apoyo adaptados a su trayectoria y sus necesidades.
              Esta personalización puede hacerse a través del uso de <strong>tecnologías basadas en datos</strong>, y, para permitir su uso en <strong>condiciones de seguridad y tranquilidad</strong>, es necesario dotarnos de un <strong>marco ético</strong>.</span>
          </div>
        </div>
        <div class="uned-wrapper-content-table-row">
          <div class="uned-wrapper-content-table-row-left">
            <span class="uned-wrapper-content-table-row-left-text">Fechas</span>
          </div>
          <div class="uned-wrapper-content-table-row-right">
            <span class="uned-wrapper-content-table-row-left-text">Del 1 de Diciembre de 2019 al 15 de Enero de 2020.</span>
          </div>
        </div>
        <div class="uned-wrapper-content-table-row">
          <div class="uned-wrapper-content-table-row-left">
            <span class="uned-wrapper-content-table-row-left-text">Quién puede participar</span>
          </div>
          <div class="uned-wrapper-content-table-row-right">
            <span class="uned-wrapper-content-table-row-left-text">Toda la comunidad de la UNED: alumnos actuales, profesores y personal.</span>
          </div>
        </div>
        <div class="uned-wrapper-content-table-row uned-wrapper-content-table-row-last">
          <div class="uned-wrapper-content-table-row-left">
            <span class="uned-wrapper-content-table-row-left-text">Objetivo general</span>
          </div>
          <div class="uned-wrapper-content-table-row-right">
            <span class="uned-wrapper-content-table-row-left-text">Desarrollar un marco de intervenciones basadas en evidencias para mejorar los procesos de enseñanza/aprendizaje a través de la explotación inteligente y responsable de datos.</span>
          </div>
        </div>
      </div>
    </article>
    <img class="uned-wrapper-img-arrow" src="<%= asset_path 'arrow-left.svg' %>">
    <img class="uned-wrapper-img-arrow" src="<%= asset_path 'arrow-right.svg' %>">
  </section>
</section>
